<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                         
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15064228?query=java%20Dnepropetrovsk">Senior Java Developer (Dnepropetrovsk)</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14825579?query=java%20Dnepropetrovsk">Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15093837?query=java%20Dnepropetrovsk">Senior Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14835494?query=java%20Dnepropetrovsk">Senior/Lead Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14919092?query=java%20Dnepropetrovsk">Senior Java Developer (Dnepropetrovsk)</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14639757?query=java%20Dnepropetrovsk">Java developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14639756?query=java%20Dnepropetrovsk">Java developer</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588550?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588553?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Новомосковск (Днепропетровская область)</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14592898?query=java%20Dnepropetrovsk">Senior Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588549?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Днепродзержинск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588551?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588552?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Никополь</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588554?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Павлоград</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588555?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Желтые Воды</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588556?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Вольногорск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14588557?query=java%20Dnepropetrovsk">Software Engineer (Java)</a></td> 
     <td class="city">Верхнеднепровск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14592897?query=java%20Dnepropetrovsk">Senior Java Developer</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14641032?query=java%20Dnepropetrovsk">Senior Java Developer (web server + RDA)</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14641033?query=java%20Dnepropetrovsk">Senior Java Developer (web server + RDA)</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14641034?query=java%20Dnepropetrovsk">Senior Java Developer (web server + RDA)</a></td> 
     <td class="city">Днепродзержинск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14641035?query=java%20Dnepropetrovsk">Senior Java Developer (web server + RDA)</a></td> 
     <td class="city">Никополь</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15001690?query=java%20Dnepropetrovsk">Senior C# Developer</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Archer Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15001647?query=java%20Dnepropetrovsk">Middle-Senior QA Engineer</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Archer Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15000932?query=java%20Dnepropetrovsk">Senior IT Ops Engineer/Team Lead</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Archer Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14950147?query=java%20Dnepropetrovsk">Senior Java Developer (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14919395?query=java%20Dnepropetrovsk">Middle Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14917985?query=java%20Dnepropetrovsk">Senior Java Developer / Architect</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14918425?query=java%20Dnepropetrovsk">Senior Java developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14919037?query=java%20Dnepropetrovsk">Regular Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14918161?query=java%20Dnepropetrovsk">Senior Java developer/Technical Project Lead</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15094198?query=java%20Dnepropetrovsk">C++ Software Architect for Imagine Software</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15093578?query=java%20Dnepropetrovsk">C++ Developer for Imagine</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15088080?query=java%20Dnepropetrovsk">Software-Developer in Duesseldorf, Germany</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">METRO Cash &amp; Carry Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15065462?query=java%20Dnepropetrovsk">Regular Manual Tester</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15064273?query=java%20Dnepropetrovsk">Senior Frontend Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15067146?query=java%20Dnepropetrovsk">Android Developer for Ciklum Interactive Solutions</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15057695?query=java%20Dnepropetrovsk">C++ Developer for Imagine Software</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819417?query=java%20Dnepropetrovsk">C# Senior Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819420?query=java%20Dnepropetrovsk">C# Senior Developer</a></td> 
     <td class="city">Павлоград</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819420?query=java%20Dnepropetrovsk">C# Senior Developer</a></td> 
     <td class="city">Павлоград</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819415?query=java%20Dnepropetrovsk">C# Senior Developer</a></td> 
     <td class="city">Вольногорск</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819418?query=java%20Dnepropetrovsk">C# Senior Developer</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14819419?query=java%20Dnepropetrovsk">C# Senior Developer</a></td> 
     <td class="city">Никополь</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15001867?query=java%20Dnepropetrovsk">Senior C# Developer</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Archer Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14959041?query=java%20Dnepropetrovsk">DevOps Engineer for XtendX</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14957096?query=java%20Dnepropetrovsk">Reverse Engineer for Check Point Software Technologies</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14918697?query=java%20Dnepropetrovsk">QA Automation Engineer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14897203?query=java%20Dnepropetrovsk">Android Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15092000?query=java%20Dnepropetrovsk">Java-программист под Android</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">ООО Уран</td> 
     <td class="salary">800-1&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15092001?query=java%20Dnepropetrovsk">Java-программист под Android</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">ООО Уран</td> 
     <td class="salary">800-1&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15072432?query=java%20Dnepropetrovsk">Middle Java Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Information Systems Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15088742?query=java%20Dnepropetrovsk">Веб-программист</a></td> 
     <td class="city">Кривой Рог</td> 
     <td class="companyName">ИП ARTBZV COMPANY</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15072435?query=java%20Dnepropetrovsk">Android Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">Information Systems Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/15044409?query=java%20Dnepropetrovsk">Software Quality Assurance Engineer</a></td> 
     <td class="city">Днепропетровск, Вокзальная</td> 
     <td class="companyName">ООО Exigen Services</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://hh.ua/vacancy/14918971?query=java%20Dnepropetrovsk">Lead Android Developer</a></td> 
     <td class="city">Днепропетровск</td> 
     <td class="companyName">ООО Укртехинвест</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000022037">Java разработчик</a></td> 
     <td class="city">Смоленск</td> 
     <td class="companyName">Edisoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021825">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021892">Senior Java Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000005374">Java разработчик (Java Developer, Middle Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Алтимета"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021444">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iiko</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021587">Java разработчик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">BelPrime</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021996">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Neemble</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000008357">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Instabank</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021498">Java Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровый центр СОЛОМОН</td> 
     <td class="salary">От 110 000 до 280 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000020666">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО «Центр недвижимости от Сбербанка»</td> 
     <td class="salary">От 110 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021665">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VIAcode</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021820">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">IT-People.ru</td> 
     <td class="salary">От 40 000 до 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Faidon Design</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021415">Java программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021941">Java-программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">2GIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000022069">Java (Scala) разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Krawlly</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021705">Senior Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рексофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021574">Java Team -Lead</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Cinarra</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021522">Java/Scala developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DIRECTUAL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/443664419">Ведущий разработчик Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000008013">Преподаватель курсов по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021768">Android Developer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Adaperio</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021724">Программист-тестировщик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CORNERSTONE</td> 
     <td class="salary">От 80 000 до 105 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021778">Sr. Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000020667">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО «Центр недвижимости от Сбербанка»</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/652337989">Ведущий разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021567">Java Senior (Moscow/UK)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 200 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021730">Senior Java Developer</a></td> 
     <td class="city">Варшава</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 1 500 до 4 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021419">Отличный frontend-разработчик на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021278">HEAD OF SWD DPT (Java, Agile)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ООО "БелХард Девелопмент"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021409">Java Developer (back-end, game development), Студия IT Territory</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021710">Senior Web Application Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000022028">Программист мобильных приложений</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">IT-отдел «Восстания 6»</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021663">Android Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021097">Разработчик интерфейса web-приложений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 75 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021793">Unity3D-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Тортуга</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000012180">Frontend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SELVIS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021718">Разработчик С/С++</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MyFrIeNd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021753">Системный администратор linux (вэб-приложения)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Freelance</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000020853">Android-developer (разработка Android-приложений, связанных с ГИС-системами)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021390">Ведущий Android-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Кадровый центр Рестарт</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000020856">Lead QA engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Neemble</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021777">Android developer/Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Группа компаний FOREX&nbsp;CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021612">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OneTwoTrip!</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021739">Backend Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Simple Systems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000022032">Веб-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">IT-отдел «Восстания 6»</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000014242">Разработчик мобильных приложений Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Webinar.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021536">Ведущий разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">1C-Рарус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000009853">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021492">Программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ITEXPATS</td> 
     <td class="salary">От 90 000 до 320 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021682">Android Infrastructure Engineer</a></td> 
     <td class="city">Стокгольм</td> 
     <td class="companyName">Spotify</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000011297">Ведущий разработчик Pytnon / Django (Кипр, Лимасол)</a></td> 
     <td class="city"></td> 
     <td class="companyName">EXNESS</td> 
     <td class="salary">От 2 700 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000008129">Разработчик iOS/Adndroid</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Целевое Управление"</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021652">Программист игр С++</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">AMT Games</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021725">Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000013469">Lead Performance QA Engineer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Wargaming.net</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000020409">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021701">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sports.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021963">Ведущий Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Prilka</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021911">Стажёр-автоматизатор (Junior QA Automation)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">A1QA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000014243">Разработчик мобильных приложений iOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Webinar.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000017109">Back-end разработчик, PHP</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">еЛама</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021614">Руководитель команды по автоматизации тестирования</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OneTwoTrip!</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021542">PHP-программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">xPackages</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021502">Веб-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Yeopen</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021399">Yii2 стажер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Malliott</td> 
     <td class="salary">От 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021579">Golang developer</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Traffic Stars ltd</td> 
     <td class="salary">От 3 000 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000013347">Flash-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Webinar.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021532">Frontend разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Axmor Software</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/950945187">Android разработчик / Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">mc2 software</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021590">Senior PHP developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Enter</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000022033">Программист C#</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">IT-отдел «Восстания 6»</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021997">QA engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Neemble</td> 
     <td class="salary">До 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000008805">Senior PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021867">Python-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ДевХаб</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021404">Разработчик Android</a></td> 
     <td class="city">Франкфурт ам Майн</td> 
     <td class="companyName">Blue Card Recruiting</td> 
     <td class="salary">От 3 000 до 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021486">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000021839">QA engineer с релокацией на Кипр</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>